
body {
    background-image: url(../image/BG2.jpg);
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif;
}

h3, h2 {
    font-family: arial, Arial, Helvetica, sans-serif;
}

h2 {
    border-bottom: dotted 2px black;
    padding-bottom: 10px;
    color: #843534;
}

h3 {
    font-size: 18px;
    color: chocolate;
}

#wrapper {
    width: 980px;
    margin: 10px auto;
    background-color: #cdcdcd;
    padding: 0 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    height: 325px;
}
#top {
    padding: 10px 0 0 ;
    margin: auto;
    max-width: 100%;
}
#topnav {
    max-width: 100% ;
    margin:5px 0 5px 0px;
    padding: 0 0 0 0;
    background-color: InactiveCaptionText;
}

.nav > li >a {
    padding: 10px 15px;
    margin: 10px 22px ;
}
.nav > li > a:hover {
    border-radius: 5px;
    background-color: #c0a16b;
}

#content-wrapper h3 {
    text-align: center;
}
#content-wrapper {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 5px 0 0 0;
    background-color: antiquewhite;
}
#content p {
    font-size: 12px;
    line-height: 180%;
    border: 1px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 10px;

}
.img_container {
    padding: 10px 0 0 65px;
    margin: 5px 0 0 0;
}
.img_container h3 {
    text-align: left;
    padding: 5px 50px 0 0;
}
.img_content {
    padding: 10px 0 0 110px;
    margin: 5px 0 0 0;
}
.img_content h3 {
    text-align: left;
    padding: 10px 113px 0 0;
}
#footer {
    clear: both;
    padding: 20px 0;
    border-top: dotted 1px black;
    font-weight: bold;
    color: tomato;

}

#footer_text {
    font-size: 13px;
    text-align: center;
}
@media only screen and (min-width: 769px) {
    body {
        background-image: url(../image/BG2.jpg);
        background-repeat: repeat;
        font-family: Arial, Helvetica, sans-serif;
    }

    h3, h2 {
        font-family: arial, Arial, Helvetica, sans-serif;
    }

    h2 {
        border-bottom: dotted 2px black;
        padding-bottom: 10px;
        color: #843534;
    }

    h3 {
        font-size: 18px;
        color: chocolate;
    }

    #wrapper {
        width: 980px;
        margin: 10px auto;
        background-color: #cdcdcd;
        padding: 0 15px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 100%;
        height: 325px;
    }

    #top {
        padding: 10px 0 0;
        margin: auto;
        max-width: 100%;
    }

    #topnav {
        max-width: 100%;
        margin: 5px 0 5px 0px;
        padding: 0 0 0 0;
        background-color: InactiveCaptionText;
    }

    .nav > li > a {
        padding: 10px 15px;
        margin: 10px 22px;
    }

    .nav > li > a:hover {
        border-radius: 5px;
        background-color: #c0a16b;
    }
    #content-wrapper h3 {
        text-align: center;
    }

    #content-wrapper {
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        padding: 5px 0 0 0;
        background-color: antiquewhite;
    }

    #content p {
        font-size: 12px;
        line-height: 180%;
        border: 1px solid black;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        padding: 10px;
    }
    .img_container {
        padding: 10px 0 0 65px;
        margin: 5px 0 0 0;
    }
    .img_container h3 {
        text-align: left;
        padding: 5px 50px 0 0;
    }
    .img_content {
        padding: 10px 0 0 110px;
        margin: 5px 0 0 0;
    }
    .img_content h3 {
        text-align: left;
        padding: 10px 113px 0 0;
    }

    #footer {
        clear: both;
        padding: 20px 0;
        border-top: dotted 1px black;
        font-weight: bold;
        color: tomato;

    }

    #footer_text {
        font-size: 13px;
        text-align: center;
    }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
    #wrapper {
        width: 700px;
        margin: 10px auto;
        background-color: #cdcdcd;
        padding: 0 15px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 100%;
        height: 200px;
    }

    .nav > li > a {
        padding: 10px 14px;
        margin: 10px 0;
    }

    #content-wrapper h3 {
        text-align: center;
    }

    #content-wrapper {
        max-width: 100%;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        padding: 5px 0 0 0;
        background-color: antiquewhite;
    }

    #content p {
        font-size: 14px;
        line-height: 180%;
        border: 1px solid black;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        padding: 10px;
    }

    .img_container {
        padding: 10px 0 0 65px;
        margin: 10px 300px 10px 230px;
    }
    .img_container h3 {
        padding: 5px 0 0 0;
    }
    .img_content {
        padding: 10px 158px 0 280px;
        margin: 5px 0 0 0;
    }
    .img_content h3 {
        text-align: left;
        padding: 10px 155px 0 0;
    }

}
@media only screen and (max-width: 480px) {
    #wrapper {
        width: 300px;
        margin: 10px auto;
        background-color: #cdcdcd;
        padding: 0 15px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 100%;
        height: 110px;
    }
    .nav > li > a {
        padding: 10px 14px;
        margin: 10px 0;
    }

    #content-wrapper h3 {
        text-align: center;
    }

    #content-wrapper {
        max-width: 100%;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        padding: 5px 0 0 0;
        background-color: antiquewhite;
    }

    #content p {
        font-size: 13px;
        line-height: 180%;
        border: 1px solid black;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        padding: 10px;
    }
    .img_container {
        padding: 10px;
        margin: 10px 62px 0 84px;
    }
    .img_container h3 {
        padding: 5px 0 0 0;
    }
    .img_content {
        padding: 10px 90px 0 0;
        margin: 5px 0 0 90px;
    }
    .img_content h3 {
        text-align: left;
        padding: 10px;
    }


}
