
body {
    background-image: url(../image/BG2.jpg);
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif;
}

h3, h2 {
    font-family: arial, Arial, Helvetica, sans-serif;
}

h2 {
    border-bottom: dotted 2px black;
    padding-bottom: 10px;
    color: #843534;
}

h3 {
    color: chocolate;
    font-size: 18px;
}

#wrapper {
    width: 980px;
    margin: 10px auto;
    background-color: #cdcdcd;
    padding: 0 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    height: 325px;
}

#top {
    padding: 10px 0 0 ;
    margin: auto;
    max-width: 100%;
}
#topnav {
    max-width: 100% ;
    margin:5px 0 5px 0px;
    padding: 0 0 0 0;
    background-color: InactiveCaptionText;
}

.nav > li >a {
    padding: 10px 15px;
    margin: 10px 22px ;
}
.nav > li > a:hover {
    border-radius: 5px;
    background-color: #c0a16b;
}

#content-wrapper  {
    background-color: white;
    padding: 5px;
    margin: 5px auto;
}
#content-wrapper p {
    padding: 10px;
    font-size: 12px;
    line-height: 180%;
}
#content-wrapper h3 {
    text-align: center;
}
#content-wrapper p {
    font-size: 13px;
    line-height: 180%;
}

#content-wrapper li {
    font-size: 15px;
    padding: 5px 0;
}

#main-content {
    border-radius: 5px;
    padding:0 10px;
    margin: 0 0 15px 0;
}

#lobe {
    float: left;
    width: 210px;
    padding: 10px 0px 94px 20px;
    margin: 0px 0 0 10px;
}
#lobe li {
    font-size: 14px;
    line-height: 164%;
}
#pic_brain {
    float: right;
    width: 700px;
    padding: 0 10px 0 0;
}
#dis p {
    padding: 10px;
}
#dis {
    clear: both;
    margin:0 10px 0 0;
    padding: 10px 0 0 0;
}
#dis li {
    font-size: 14px;
}
#footer {
    clear: both;
    padding: 20px 0;
    border-top: dotted 1px black;
    font-weight: bold;
    color: tomato;
}
#footer_text {
    font-size: 13px;
    text-align: center;
}
@media only screen and (min-width: 769px) {
    body {
        background-image: url(../image/BG2.jpg);
        background-repeat: repeat;
        font-family: Arial, Helvetica, sans-serif;
    }

    h3, h2 {
        font-family: arial, Arial, Helvetica, sans-serif;
    }

    h2 {
        border-bottom: dotted 2px black;
        padding-bottom: 10px;
        color: #843534;
    }

    h3 {
        color: chocolate;
        font-size: 18px;
    }

    #wrapper {
        width: 980px;
        margin: 10px auto;
        background-color: #cdcdcd;
        padding: 0 15px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 100%;
        height: 325px;
    }

    #top {
        padding: 10px 0 0;
        margin: auto;
        max-width: 100%;
    }

    #topnav {
        max-width: 100%;
        margin: 5px 0 5px 0px;
        padding: 0 0 0 0;
        background-color: InactiveCaptionText;
    }

    .nav > li > a {
        padding: 10px 15px;
        margin: 10px 22px;
    }

    .nav > li > a:hover {
        border-radius: 5px;
        background-color: #c0a16b;
    }

    #content-wrapper {
        background-color: white;
        padding: 5px;
        margin: 5px auto;
    }

    #content-wrapper p {
        padding: 10px;
        font-size: 12px;
        line-height: 180%;
    }

    #content-wrapper h3 {
        text-align: center;
    }

    #content-wrapper p {
        font-size: 13px;
        line-height: 180%;
    }

    #content-wrapper li {
        font-size: 15px;
        padding: 5px 0;
    }

    #main-content {
        border-radius: 5px;
        padding: 0 10px;
        margin: 0 0 15px 0;
    }

    #lobe {
        float: left;
        width: 210px;
        padding: 10px 0px 94px 20px;
        margin: 0px 0 0 10px;
    }

    #lobe li {
        font-size: 14px;
        line-height: 164%;
    }

    #pic_brain {
        float: right;
        width: 700px;
        padding: 0 10px 0 0;
    }

    #dis p {
        padding: 10px;
    }

    #dis {
        clear: both;
        margin: 0 10px 0 0;
        padding: 10px 0 0 0;
    }

    #dis li {
        font-size: 14px;
    }

    #footer {
        clear: both;
        padding: 20px 0;
        border-top: dotted 1px black;
        font-weight: bold;
        color: tomato;
    }

    #footer_text {
        font-size: 13px;
        text-align: center;
    }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
    #wrapper {
        width: 700px;
        margin: 10px auto;
        background-color: #cdcdcd;
        padding: 0 15px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 100%;
        height: 200px;
    }

    .nav > li > a {
        padding: 10px 14px;
        margin: 10px 0;
    }

    #lobe {
        float: left;
        width: 148px;
        padding: 0px 0px 18px 0px;
        margin: 0px 0 0 10px;
    }

    #lobe li {
        font-size: 13px;
        line-height: 164%;
    }

    #pic_brain {
        float: right;
        width: 500px;
        padding: 0 10px 0 0;
    }

    #dis p {
        border-radius: 5px;
        padding: 10px;
    }

    #dis {
        clear: both;
        margin: 0 10px 0 0;
        padding: 10px 0 0 0;
    }

    #dis li {
        font-size: 14px;
    }
}
@media only screen and (max-width: 480px) {
    #wrapper {
        width: 300px;
        margin: 10px auto;
        background-color: #cdcdcd;
        padding: 0 15px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 100%;
        height: 110px;
    }
    #main-content p {
        border: 1px solid black;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 0 10px;
        margin: 0 0 15px 0;
        background-color: antiquewhite;
        font-size: 14px;
    }

    #lobe {
        border: 1px solid black;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        width: 241px;
        padding: 10px 0 0 35px;
        margin: -5px 0 10px 8px;
        background-color: antiquewhite;
    }

    #lobe li {
        font-size: 14px;
        line-height: 164%;
    }

    #pic_brain {
        max-width: 100%;
        margin: 0 auto;
        padding: 0 10px 0 8px;
    }

    #dis p {
        border: 1px solid black;
        border-radius: 5px;
        background-color: antiquewhite;
        padding: 10px;
    }

    #dis {
        margin: 0 10px 0 -25px;
        padding: 10px 0 0 0;
    }

    #dis li {
        font-size: 14px;
    }
}

